APScheduler==3.6.3
astroid==2.4.0
autopep8==1.5.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
entrypoints==0.3
flake8==3.7.9
idna==2.8
imageio==2.9.0
install==1.3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.1
pep8==1.7.1
Pillow==8.1.1
pyasn1==0.4.8
pycodestyle==2.5.0
pycryptodome==3.9.6
pyflakes==2.1.1
pylint==2.5.0
pypinyin==0.37.0
pytz==2020.1
PyYAML==5.4
qrcode==6.1
requests==2.22.0
six==1.14.0
toml==0.10.0
tzlocal==2.0.0
urllib3==1.25.8
wrapt==1.11.1
youtube-dl==2020.5.3
